Repository somsomi3/Well-Done: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

backend-verify:
  stage: verify
  image: gradle:8.13-jdk17
  script:
  - cd be
  - gradle clean build -x test
  tags:
  - ssafy-second-infra

frontend-verify:
  stage: verify
  image: node:20
  script:
  - cd fe
  - npm ci
  - npm run build
  tags:
  - ssafy-second-infra

backend-build:
  stage: build
  needs:
  - backend-verify
  script:
  - docker build -t $BACKEND_IMAGE ./be
  tags:
  - ssafy-second-infra

frontend-build:
  stage: build
  needs:
  - frontend-verify
  script:
  - echo "VITE_BASE_URL=${VITE_BASE_URL}" > ./fe/.env
  - echo "VITE_TOKEN_REFRESH_INTERVAL=${VITE_TOKEN_REFRESH_INTERVAL}" >> ./fe/.env
  - echo "VITE_TOKEN_EXPIRY_THRESHOLD=${VITE_TOKEN_EXPIRY_THRESHOLD}" >> ./fe/.env
  - docker build -t $FRONTEND_IMAGE ./fe
  ...

backend-push:
  stage: push
  needs:
  - backend-build
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $BACKEND_IMAGE
  tags:
  - ssafy-second-infra

frontend-push:
  stage: push
  needs:
  - frontend-build
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $FRONTEND_IMAGE
  tags:
  - ssafy-second-infra

backend-deploy:
  stage: deploy
  needs:
  - backend-push
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  ...

frontend-deploy:
  stage: deploy
  needs:
  - frontend-push
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  ...

S12P21E102-473 feat: tensorflow 설치 및 버전 맞춤 , 파일 읽는 encoding 방식 utf-8으로 코드 수정
  sim/ros2_ws/src/ros2_smart_home/sub3/sub3/tf_detector.py
Due: none

S12P21E102 fix: gitlab-ci.yml 설정코드 수정2
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: gitlab-ci.yml 설정코드 수정3
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: gitlab-ci.yml 코드 되돌리기
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 오타 수정
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 feat: merge requst할 시에 테스트단계 추가
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 오타수정
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 오타수정2
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 오타수정3
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 오타수정4
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 코드 수정
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 코드 수정2
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 코드 수정3
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 코드 수정4
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102 fix: 오류 수정
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

S12P21E102-578 fix: 임포트 폴더 수정
  fe/src/App.jsx
  fe/src/utils/api.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

S12P21E102 fix: CICD pipeline 하드코딩으로 일단 동작하게수정
  fe/src/configs/env.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

S12P21E102-578 fix: 폴더명 수정
  fe/src/configs/env.js
  fe/src/hooks/useAuth.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

S12P21E102-578 feat: 에러 해결 및 구조 개선
  fe/src/App.jsx
  fe/src/components/ErrorBoundary.jsx
  fe/src/components/Layout/Header.jsx
  fe/src/components/Layout/Layout.jsx
  fe/src/components/Logout.jsx
  fe/src/components/atoms/Toast/Toast.css
  fe/src/components/atoms/Toast/Toast.jsx
  fe/src/hooks/useAuth.js
  fe/src/hooks/useToast.js
  fe/src/routes/AppRoutes.jsx
  fe/src/services/errorService.js
  fe/src/stores/authStore.js
  fe/src/stores/toastStore.js
  fe/src/utils/api.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

S12P21E102-473 feat: tensorflow 코드 형식 수정
  sim/ros2_ws/src/ros2_smart_home/sub3/sub3/tf_detector.py
Due: none

fix: 403에러 확인
  fe/src/utils/api.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

S12P21E102-473,474 feat: tensorflow 물체 인식 작동 확인
  sim/ros2_ws/src/ros2_smart_home/sub3/sub3/tf_detector.py
Due: none

fix: 로그인페이지 에러코드 해결
  fe/src/App.jsx
  fe/src/configs/env.js
  fe/src/hooks/useAuth.js
  fe/src/routes/AppRoutes.jsx
  fe/src/stores/authStore.js
  fe/src/utils/api.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

S12P21E102-475 feat: 위치 추정 알고리즘 수정
  sim/ros2_ws/src/ros2_smart_home/sub3/sub3/tf_detector.py
Due: none

S12P21E102-486 feat: Move, Map, Path, Odom, Scan added
  be/src/main/java/com/be/config/RestTemplateConfig.java
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-verify, backend-build, backend-push, backend-deploy

feat: 자율주행용 데이터 모니터링 데이터 일부 추가
  bridge/RosBridge_v4.py
Due: none

S12P21E102-532 feat: 미탐색 영역을 -1로 설정하고 해상도를 줄여 속도 개선
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/path_tracking.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/run_mapping.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/utils.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/utils/frontier_utils.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/utils/sim_config.py
Due: none

S12P21E102-483 fix: 보안관련 설정 변경
  be/src/main/java/com/be/config/security/CustomAuthSuccessHandler.java
Due: backend-verify, backend-build, backend-push, backend-deploy

S12P21E102-483 fix: 권한관련 설정 수정
  be/src/main/java/com/be/db/entity/Role.java
  be/src/main/java/com/be/domain/auth/controller/AdminController.java
Due: backend-verify, backend-build, backend-push, backend-deploy

fix: env fixing(test)
  .gitlab-ci.yml
  fe/Dockerfile
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

fix: env hotfix
  .gitlab-ci.yml
Due: backend-verify, frontend-verify, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

fix: hotfix for jwt
  be/src/main/java/com/be/config/security/JwtAuthorizationFilter.java
Due: backend-verify, backend-build, backend-push, backend-deploy

fix: fe-auth-fix
  fe/src/hooks/useAuth.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

add: jwt 로거 추가 (ec2 api 패스 확인용)
  be/src/main/java/com/be/config/security/JwtAuthorizationFilter.java
Due: backend-verify, backend-build, backend-push, backend-deploy

S12P21E102-475 feat: 기능 작동 확인후 merged 이후 adjust 작업전
  sim/ros2_ws/src/ros2_smart_home/sub3/sub3/tf_detector.py
Due: none

fix: 변수 이름 수정
  fe/src/hooks/useAuth.js
Due: frontend-verify, frontend-build, frontend-push, frontend-deploy

S12P21E102-486 feat: Auto-Mapping added
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-verify, backend-build, backend-push, backend-deploy

Path conditions:
  backend-verify: any of: be/**/*, .gitlab-ci.yml
  frontend-verify: any of: fe/**/*, .gitlab-ci.yml
  backend-build: any of: be/**/*, .gitlab-ci.yml
  frontend-build: any of: fe/**/*, .gitlab-ci.yml
  backend-push: any of: be/**/*, .gitlab-ci.yml
  frontend-push: any of: fe/**/*, .gitlab-ci.yml
  backend-deploy: any of: be/**/*, .gitlab-ci.yml
  frontend-deploy: any of: fe/**/*, .gitlab-ci.yml
