Repository somsomi3/Well-Done: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-test, frontend-test, backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

backend-test:
  stage: test
  image: gradle:8.13-jdk17
  before_script: []
  script:
  - cd be
  - chmod +x gradlew
  - ./gradlew test
  tags:
  - ssafy-second-infra

frontend-test:
  stage: test
  image: node:20
  before_script: []
  script:
  - cd fe
  - npm ci
  - npm run test
  tags:
  - ssafy-second-infra

backend-build:
  stage: build
  script:
  - docker build -t $BACKEND_IMAGE ./be
  tags:
  - ssafy-second-infra

frontend-build:
  stage: build
  script:
  - echo "VITE_BASE_URL=${VITE_BASE_URL}" > ./fe/.env
  - echo "VITE_TOKEN_REFRESH_INTERVAL=${VITE_TOKEN_REFRESH_INTERVAL}" >> ./fe/.env
  - echo "VITE_TOKEN_EXPIRY_THRESHOLD=${VITE_TOKEN_EXPIRY_THRESHOLD}" >> ./fe/.env
  - docker build -t $FRONTEND_IMAGE ./fe
  tags:
  - ssafy-second-infra

backend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $BACKEND_IMAGE
  tags:
  - ssafy-second-infra

frontend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $FRONTEND_IMAGE
  tags:
  - ssafy-second-infra

backend-deploy:
  stage: deploy
  image: alpine:latest
  variables:
    PEM_FILE: /tmp/J12E102T.pem
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  ...

frontend-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  ...

S12P21E102-582 S12P21E102-583 feat: 이미지 생성(임시)
  fe/src/App.css
  fe/src/assets/bgimage.png
  fe/src/components/Layout/Header.jsx
  fe/src/components/LoginForm.jsx
  fe/src/components/RegisterForm.jsx
  fe/src/pages/LoginPage.jsx
  fe/src/pages/RegisterPage.jsx
  fe/src/styles/AuthForm.css
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

S12P21E102-486 feat: modulized bridge update, add auto mapping
  bridge/RosBridge_Modulized/__init__.py
  bridge/RosBridge_Modulized/__pycache__/__init__.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/flask_server.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/main.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/message_types.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/ros_node.cpython-37.pyc
  bridge/RosBridge_Modulized/flask_server.py
  bridge/RosBridge_Modulized/handlers/__init__.py
  bridge/RosBridge_Modulized/handlers/__pycache__/__init__.cpython-37.pyc
  bridge/RosBridge_Modulized/handlers/__pycache__/command_handlers.cpython-37.pyc
  bridge/RosBridge_Modulized/handlers/__pycache__/topic_callbacks.cpython-37.pyc
  bridge/RosBridge_Modulized/handlers/command_handlers.py
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/main.py
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
  bridge/RosBridge_Modulized/setup.py
  bridge/RosBridge_Modulized/utils/__init__.py
  bridge/RosBridge_Modulized/utils/__pycache__/__init__.cpython-37.pyc
  bridge/RosBridge_Modulized/utils/__pycache__/auth.cpython-37.pyc
  bridge/RosBridge_Modulized/utils/auth.py
  bridge/RosBridge_Modulized/utils/message_converter.py
  bridge/RosBridge_v4.py
  bridge/__pycache__/RosBridge_v4.cpython-37.pyc
Due: none

S12P21E102-585 feat: 이름 로고 변경
  fe/index.html
  fe/public/logo.png
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

S12P21E102-584 feat: 로그인, 레지스터폼 위치 지정
  fe/src/components/LoginForm.jsx
  fe/src/components/RegisterForm.jsx
  fe/src/styles/AuthForm.css
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

S12P21E102-483 fix: 권한관련 설정 수정
  be/src/main/java/com/be/config/security/CustomAuthSuccessHandler.java
Due: backend-test, backend-build, backend-push, backend-deploy

S12P21E102-488 feat: 재고 정보 제어
  be/src/main/java/com/be/domain/inventory/controller/InventoryController.java
  be/src/main/java/com/be/domain/inventory/service/InventoryService.java
Due: backend-test, backend-build, backend-push, backend-deploy

S12P21E102-579 feat: 라이더 포인트 위치 조정 완료 및 정상 작동 확인
  sim/ros2_ws/src/ros2_smart_home/sub3/sub3/tf_detector.py
Due: none

fix: 디자인 세부 조정
  fe/src/components/LoginForm.jsx
  fe/src/components/RegisterForm.jsx
  fe/src/styles/AuthForm.css
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

S12P21E102-597 chore: 불필요한 자동 매핑 스크립트 정리 및 파일명 명확화
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/load_map.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/temp/auto_mapping_frontier.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/temp/auto_mapping_zigzag.py
Due: none

S12P21E102-599 feat: (auto_mapping_fsm.py) 프론티어 기반 자동 매핑 로직을 FSM 구조로 리팩터링
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
Due: none

S12P21E102-600 feat: StatusStamped 메시지 정의 및 관련 유틸 추가
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/CMakeLists.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/StatusStamped.msg
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/setup.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/utils/msg_utils.py
Due: none

S12P21E102-601 feat: 로깅 방식 통일 및 탐색된 셀 마스킹 처리 추가
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/run_mapping.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/utils/logger_utils.py
Due: none

S12P21E102-603 S12P21E102-604 S12P21E102-605 feat: 헤더 디자인 적용
  fe/src/components/Layout/Header.jsx
  fe/src/components/atoms/NavItem/NavItem.css
  fe/src/components/atoms/NavItem/NavItem.jsx
  fe/src/hooks/useLocation.js
  fe/src/styles/HeaderStyles.css
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

S12P21E102-532 feat: 글로벌/로컬 경로 생성 및 추종 노드 개선 및 상태 로깅 추가
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/path_tracking.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/navigation/a_star.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/navigation/a_star_local_path.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/utils/frontier_utils.py
Due: none

S12P21E102-606 feat: 매핑 완료 메시지에 map/map_inflated 포함
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/CMakeLists.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/MappingDone.msg
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/package.xml
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/run_mapping.py
Due: none

fix: 로고 디자인 수정
  fe/public/logo.png
  fe/public/vite.svg
  fe/src/assets/.gitkeep
  fe/src/assets/logo.png
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

S12P21E102-606 feat: 매핑 완료 시 MappingDone 메시지에 map 및 success 포함하여 퍼블리시
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/MappingDone.msg
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
Due: none

S12P21E102-608 feat: 로고 수정
  fe/src/hooks/useAuth.js
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

feature: change BridgeUrl to tunner ip
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-test, backend-build, backend-push, backend-deploy

fix: 스네이크 -> 카멜
  fe/src/hooks/useAuth.js
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

feat: Modulized bug fixes
  bridge/RosBridge_Modulized/__pycache__/flask_server.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/main.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/ros_node.cpython-37.pyc
  bridge/RosBridge_Modulized/flask_server.py
  bridge/RosBridge_Modulized/handlers/__pycache__/command_handlers.cpython-37.pyc
  bridge/RosBridge_Modulized/handlers/command_handlers.py
  bridge/RosBridge_Modulized/main.py
  bridge/RosBridge_Modulized/ros_node.py
  bridge/RosBridge_Modulized/utils/__pycache__/auth.cpython-37.pyc
  bridge/RosBridge_Modulized/utils/auth.py
Due: none

feature: bridge feature update ( mapping done, map status, obstacle alert )
  .gitignore
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

feat: robot api update ( mapping done, map status, obstacle alert )
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-test, backend-build, backend-push, backend-deploy

feat: bridge feature added ( GoalStatus, PickDone, PlaceDone, StopAutoMap, GoalPose )
  bridge/RosBridge_Modulized/handlers/command_handlers.py
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

feat: robot api update ( GoalStatus, PickDone, PlaceDone, StopAutoMap, GoalPose )
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-test, backend-build, backend-push, backend-deploy

S12P21E102-494 feat: 로봇 좌표 저장 및 프론트 실시간 전송
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-test, backend-build, backend-push, backend-deploy

S12P21E102-624 fix: 재고 관련 기능 수정(기록 추가)
  be/src/main/java/com/be/db/entity/Inventory.java
  be/src/main/java/com/be/domain/inventory/controller/InventoryController.java
  be/src/main/java/com/be/domain/inventory/service/InventoryService.java
Due: backend-test, backend-build, backend-push, backend-deploy

S12P21E102-624 fix: 재고기록 관리수정
  be/src/main/java/com/be/db/entity/InventoryHistory.java
  be/src/main/java/com/be/db/repository/InventoryHistoryRepository.java
  be/src/main/java/com/be/domain/inventory/dto/InventoryHistoryDto.java
Due: backend-test, backend-build, backend-push, backend-deploy

S12P21E102-624 fix: 재고기록 관리
  be/src/main/java/com/be/domain/inventory/controller/InventoryHistoryController.java
  be/src/main/java/com/be/domain/inventory/service/InventoryHistoryService.java
Due: backend-test, backend-build, backend-push, backend-deploy

feat: bridge feature add (image, pickplace)
  bridge/RosBridge_Modulized/handlers/command_handlers.py
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

feat: robot api update ( image, pickplace )
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-test, backend-build, backend-push, backend-deploy

Update RobotController.java
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-test, backend-build, backend-push, backend-deploy

S12P21E102-494 feat: 로봇좌표 실시간이동(socket)
  fe/src/pages/MapPage.jsx
Due: frontend-test, frontend-build, frontend-push, frontend-deploy

Path conditions:
  backend-test: any of: be/**/*, .gitlab-ci.yml
  frontend-test: any of: fe/**/*, .gitlab-ci.yml
  backend-build: any of: be/**/*, .gitlab-ci.yml
  frontend-build: any of: fe/**/*, .gitlab-ci.yml
  backend-push: any of: be/**/*, .gitlab-ci.yml
  frontend-push: any of: fe/**/*, .gitlab-ci.yml
  backend-deploy: any of: be/**/*, .gitlab-ci.yml
  frontend-deploy: any of: fe/**/*, .gitlab-ci.yml
