Repository somsomi3/Well-Done: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

backend-build:
  stage: build
  script:
  - docker build -t $BACKEND_IMAGE ./be
  tags:
  - ssafy-second-infra

frontend-build:
  stage: build
  script:
  - echo "VITE_BASE_URL=https://j12e102.p.ssafy.io/api" > ./fe/.env
  - docker build -t $FRONTEND_IMAGE ./fe
  tags:
  - ssafy-second-infra

backend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $BACKEND_IMAGE
  tags:
  - ssafy-second-infra

frontend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $FRONTEND_IMAGE
  tags:
  - ssafy-second-infra

backend-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  ...

frontend-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  ...

fix: fix import issue where image processing does not working
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
Due: none

S12P21E102-494 feat: 로봇 실시간 맵(socket) 구현
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-494 feat: 로봇 실시간 맵(socket) 관련 Handler
  be/src/main/java/com/be/domain/robot/UserSocketHandler.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-494 fix: 로봇 실시간 맵(socket) 관련 Controller수정
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-494 fix: 로봇 지도 소켓 주소수정(ws -> wss)
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-625 fix: 재고 관련 기능 수정
  be/src/main/java/com/be/domain/inventory/controller/InventoryController.java
  be/src/main/java/com/be/domain/inventory/service/InventoryService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-625 fix: 재고 관련 기능(Dto) 추가
  be/src/main/java/com/be/domain/inventory/dto/InventoryDto.java
Due: backend-build, backend-push, backend-deploy

Update RobotController.java
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

fix: from_ -> from_pos, to -> to_pos 로 변경경
  bridge/RosBridge_Modulized/handlers/command_handlers.py
  bridge/RosBridge_Modulized/message_types.py
Due: none

S12P21E102 fix : 오류 코드들 수정
  be/src/main/java/com/be/config/security/CustomAuthSuccessHandler.java
  be/src/main/java/com/be/config/security/CustomAuthenticationEntryPoint.java
  be/src/main/java/com/be/config/security/JwtAuthorizationFilter.java
  be/src/main/java/com/be/config/security/SecurityConfig.java
  be/src/main/java/com/be/db/entity/Role.java
  be/src/main/java/com/be/domain/auth/response/RegisterResponse.java
  be/src/main/java/com/be/domain/auth/utils/TokenUtils.java
Due: backend-build, backend-push, backend-deploy

feat: 게시판 페이지 API
  be/src/main/java/com/be/domain/board/controller/BoardController.java
  be/src/main/java/com/be/domain/board/dto/BoardRequestDto.java
  be/src/main/java/com/be/domain/board/dto/BoardResponseDto.java
  be/src/main/java/com/be/domain/board/dto/ExpirationDateRequestDto.java
  be/src/main/java/com/be/domain/board/entity/Board.java
  be/src/main/java/com/be/domain/board/exception/GlobalExceptionHandler.java
  be/src/main/java/com/be/domain/board/repository/BoardRepository.java
  be/src/main/java/com/be/domain/board/service/BoardService.java
Due: backend-build, backend-push, backend-deploy

feature: interver optimized
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

S12P21E102-495 fix: 로봇 실시간 좌표만 동작
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix: odometry type added
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

hotfix: odometry redis 사용불가 시 우회 추가
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

feat: add bot tracking and map ( 이거 나중에 꼭 mapping done 으로 맵 바꿔야함 )
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: camera page added
  fe/src/pages/RobotCamera.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: robot camera websocket live (not tested)
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/robot/service/RedisService.java
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-658 chore: 사용하지 않는 패키지 및 임시 파일 제거
  sim/ros2_ws/src/ros2_smart_home/custom_game/custom_game/__init__.py
  sim/ros2_ws/src/ros2_smart_home/custom_game/custom_game/game.py
  sim/ros2_ws/src/ros2_smart_home/custom_game/package.xml
  sim/ros2_ws/src/ros2_smart_home/custom_game/resource/custom_game
  sim/ros2_ws/src/ros2_smart_home/custom_game/setup.cfg
  sim/ros2_ws/src/ros2_smart_home/custom_game/setup.py
  sim/ros2_ws/src/ros2_smart_home/custom_game/test/test_copyright.py
  sim/ros2_ws/src/ros2_smart_home/custom_game/test/test_flake8.py
  sim/ros2_ws/src/ros2_smart_home/custom_game/test/test_pep257.py
  sim/ros2_ws/src/ros2_smart_home/security_service/launch/make_path_launch.py
  sim/ros2_ws/src/ros2_smart_home/security_service/launch/patrol_launch.py
  sim/ros2_ws/src/ros2_smart_home/security_service/package.xml
  sim/ros2_ws/src/ros2_smart_home/security_service/path/patrol_ref_tmp.txt
  sim/ros2_ws/src/ros2_smart_home/security_service/path/test.txt
  sim/ros2_ws/src/ros2_smart_home/security_service/resource/security_service
  sim/ros2_ws/src/ros2_smart_home/security_service/security_service/__init__.py
  sim/ros2_ws/src/ros2_smart_home/security_service/security_service/intruder_detector_client.py
  sim/ros2_ws/src/ros2_smart_home/security_service/security_service/make_path.py
  sim/ros2_ws/src/ros2_smart_home/security_service/security_service/odom.py
  sim/ros2_ws/src/ros2_smart_home/security_service/security_service/path_pub.py
  sim/ros2_ws/src/ros2_smart_home/security_service/security_service/patrol_client.py
  sim/ros2_ws/src/ros2_smart_home/security_service/setup.cfg
  sim/ros2_ws/src/ros2_smart_home/security_service/setup.py
  sim/ros2_ws/src/ros2_smart_home/security_service/test/test_copyright.py
  sim/ros2_ws/src/ros2_smart_home/security_service/test/test_flake8.py
  sim/ros2_ws/src/ros2_smart_home/security_service/test/test_pep257.py
  sim/ros2_ws/src/ros2_smart_home/security_service/web/client/cam.jpg
  sim/ros2_ws/src/ros2_smart_home/security_service/web/client/index.html
  sim/ros2_ws/src/ros2_smart_home/security_service/web/client/js/index.js
  sim/ros2_ws/src/ros2_smart_home/security_service/web/package-lock.json
  sim/ros2_ws/src/ros2_smart_home/security_service/web/package.json
  sim/ros2_ws/src/ros2_smart_home/security_service/web/server/server.js
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/interaction/dropper.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/interaction/grasper.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/memory/place_memory.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/task_planner/signal_handler.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/task_planner/task_manager.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/utils/transform_utils.py
Due: none

S12P21E102-634 feat: 장애물 회피 알고리즘 개선 및 2단계 복합 회피 로직 추가
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/path_tracking.py
Due: none

S12P21E102-634 feat: 자율 매핑 기능 안정화 및 지역 경로 생성 로직 개선
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/navigation/a_star_local_path.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/run_mapping.py
Due: none

S12P21E102-633 feat: pick-and-place FSM 및 정밀 정렬 기능 최초 구현
  sim/ros2_ws/.gitignore
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/CMakeLists.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/PickPlaceCommand.msg
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/package.xml
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/setup.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/precise_alignment.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/pick_and_place/pick_and_place_node.py
Due: none

feat: mapping done redis map update
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/robot/service/RedisService.java
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

feature: 공지사항 API 연결 및 각종 오류 수정정
  fe/src/components/Layout/Header.jsx
  fe/src/components/board/AnnouncementDetail.css
  fe/src/components/board/AnnouncementDetail.jsx
  fe/src/components/board/AnnouncementForm.css
  fe/src/components/board/AnnouncementForm.jsx
  fe/src/components/board/AnnouncementList.css
  fe/src/components/board/AnnouncementList.jsx
  fe/src/hooks/useAuth.js
  fe/src/pages/AnnouncementDetail.jsx
  fe/src/pages/MainPage.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

feature: 공지사항 작성하기기
  fe/src/components/board/AnnouncementForm.css
  fe/src/components/board/AnnouncementForm.jsx
  fe/src/components/board/AnnouncementList.css
  fe/src/components/board/AnnouncementList.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

hotfix: token 연장 ( 15분 -> 일주일 )
  be/src/main/java/com/be/domain/auth/utils/TokenUtils.java
Due: backend-build, backend-push, backend-deploy

fix: 관리자 작성 오류 고침침
  fe/src/components/board/AnnouncementForm.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix: 로그인 후 바로 공지사항 나오도록록
  fe/src/components/Layout/Header.jsx
  fe/src/components/LoginForm.jsx
Due: frontend-build, frontend-push, frontend-deploy

hotfix: securityconfig 에 /robot/api 추가
  be/src/main/java/com/be/config/security/SecurityConfig.java
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-674 S12P21E102-675 S12P21E102-676 터틀봇 카메라 화면 띄우기
  fe/src/components/Modals/CameraModal.jsx
  fe/src/components/Modals/StatusModal.jsx
  fe/src/index.css
  fe/src/pages/RobotPage.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: 수정된 기능 업데이트 + 시험적 이미지 인터벌 to 2fps
  bridge/RosBridge_Modulized/handlers/command_handlers.py
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

fix: fix some topics
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

feat: 맵 페이지 오토매핑 추가가
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-677 feat: 활동 기록 추가
  fe/src/components/Modals/CameraModal.jsx
  fe/src/components/Modals/RobotDetailsModal.jsx
  fe/src/pages/RobotPage.jsx
  fe/src/utils/robotData.js
Due: frontend-build, frontend-push, frontend-deploy

feat: 패스 기록 최신 5개만 나오게 수정정
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-678 feat: 탭 인터페이스 적용
  fe/package-lock.json
  fe/package.json
  fe/src/components/Modals/CameraModal.jsx
  fe/src/components/Modals/RobotDetailsModal.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-648 feat(pick_and_place): pick & place FSM 개선 및 PlaceDone 메시지 퍼블리시 추가
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/CMakeLists.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/PickPlaceCommand.msg
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/PlaceDone.msg
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/precise_alignment.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/pick_and_place/pick_and_place_node.py
Due: none

S12P21E102-649 feat: 경로 추적 개선 및 지역 경로 timeout 처리 추가
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/path_tracking.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/navigation/a_star_local_path.py
Due: none

feat: pick done, pick place
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

Path conditions:
  backend-build: any of: be/**/*, .gitlab-ci.yml
  frontend-build: any of: fe/**/*, .gitlab-ci.yml
  backend-push: any of: be/**/*, .gitlab-ci.yml
  frontend-push: any of: fe/**/*, .gitlab-ci.yml
  backend-deploy: any of: be/**/*, .gitlab-ci.yml
  frontend-deploy: any of: fe/**/*, .gitlab-ci.yml
