Repository somsomi3/Well-Done: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

backend-build:
  stage: build
  script:
  - docker build -t $BACKEND_IMAGE ./be
  tags:
  - ssafy-second-infra

frontend-build:
  stage: build
  script:
  - echo "VITE_BASE_URL=https://j12e102.p.ssafy.io/api" > ./fe/.env
  - docker build -t $FRONTEND_IMAGE ./fe
  tags:
  - ssafy-second-infra

backend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $BACKEND_IMAGE
  tags:
  - ssafy-second-infra

frontend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $FRONTEND_IMAGE
  tags:
  - ssafy-second-infra

backend-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  ...

frontend-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  ...

S12P21E102-651 feat: add FSMStatus publisher to pick_and_place and auto_mapping nodes
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/CMakeLists.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/FSMStatus.msg
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/pick_and_place/pick_and_place_node.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
Due: none

remove: 안쓰는 파일 제거
  fe/src/pages/AnnouncementDetail.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix: 라우트에서 메인 제거
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

remove: 로봇 카메라 컴포넌트 제거
  fe/src/pages/RobotCamera.jsx
Due: frontend-build, frontend-push, frontend-deploy

remove: 로봇 모달 관련 잉여 컴포넌트 제거
  fe/src/components/Modals/CameraModal.jsx
  fe/src/components/Modals/RobotDetailsModal.jsx
  fe/src/components/Modals/StatusModal.jsx
Due: frontend-build, frontend-push, frontend-deploy

remove: 안쓰는 파일 제거
  fe/src/components/Map/MapCanvas.jsx
  fe/src/components/Map/MapControls.jsx
  fe/src/components/Map/MapInfo.jsx
  fe/src/components/atoms/Button/Button.css
  fe/src/components/atoms/Button/Button.jsx
  fe/src/components/atoms/Logo/Logo.css
  fe/src/components/atoms/Logo/Logo.jsx
  fe/src/components/molecules/.gitkeep
  fe/src/components/organisms/.gitkeep
Due: frontend-build, frontend-push, frontend-deploy

fix: 맵페이지 복구
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: 헤더 푸터 고정
  fe/src/components/Layout/Layout.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix: 패딩, 마진 수정
  fe/src/components/Layout/Footer.jsx
  fe/src/components/Layout/Layout.jsx
  fe/src/index.css
  fe/src/styles/HeaderStyles.css
Due: frontend-build, frontend-push, frontend-deploy

feat: 로그페이지 수정
  fe/src/components/Layout/Layout.jsx
  fe/src/index.css
  fe/src/pages/LogPage.jsx
  fe/src/pages/LoginPage.jsx
  fe/src/pages/RegisterPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: robot controller fsm status
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-684 fix: 라이다 포인트 반시계 방향 90도 회전 보정 적용
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/perception/object_detector.py
Due: none

feat: robot controller fsm status
  be/src/main/java/com/be/domain/robot/UserSocketHandler.java
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

feat: 자동 보급 트라이 캐치로 묶기(안되도 다음 스테이징으로 넘기기 위해)
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

feat: 맵페이지 무브페이지 통합합
  fe/src/pages/MapPage.jsx
  fe/src/pages/MapPageOld.jsx
  fe/src/pages/WorkPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

Update AppRoutes.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-693 S12P21E102-692 S12P21E102-691 S12P21E102-690 S12P21E102-689 S12P21E102-688 feat: 재고 페이지 개발
  fe/src/components/Inventory/InventoryForm.jsx
  fe/src/components/Inventory/InventoryHistory.jsx
  fe/src/components/Inventory/InventoryItem.jsx
  fe/src/components/Inventory/InventoryList.jsx
  fe/src/components/Layout/Header.jsx
  fe/src/hooks/useInventory.js
  fe/src/pages/InventoryDetailPage.jsx
  fe/src/pages/InventoryPage.jsx
  fe/src/pages/LogPage.jsx
  fe/src/routes/AppRoutes.jsx
  fe/src/services/inventoryService.js
  fe/src/stores/inventoryStore.js
  fe/src/styles/InventoryStyles.css
Due: frontend-build, frontend-push, frontend-deploy

feat: Map 폴더 부활
  fe/src/components/Map/MapCanvas.jsx
  fe/src/components/Map/MapControls.jsx
  fe/src/components/Map/MapInfo.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: implement auto add
  fe/src/components/Inventory/InventoryItem.jsx
  fe/src/components/Inventory/InventoryList.jsx
  fe/src/hooks/useInventory.js
  fe/src/styles/InventoryStyles.css
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-624 fix: 재고 DB 수정
  be/src/main/java/com/be/db/repository/InventoryRepository.java
  be/src/main/java/com/be/db/service/InventoryDataLoader.java
  be/src/main/java/com/be/domain/inventory/dto/InventoryDto.java
  be/src/main/java/com/be/domain/inventory/service/InventoryService.java
  be/src/main/java/com/be/domain/storage/service/StorageService.java
Due: backend-build, backend-push, backend-deploy

Update RobotController.java
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

feat: 맵 디자인 1차 수정
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix: 맵페이지 컴포넌트 위치 수정
  fe/README.md
  fe/src/components/Map/MapCanvas.jsx
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix : 맵페이지 세부 페이지명 수정
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix: 버튼 이름 수정
  fe/src/pages/MapPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: 선반 코드 추가
  fe/src/components/Inventory/InventoryForm.jsx
  fe/src/components/Inventory/InventoryItem.jsx
  fe/src/components/Inventory/InventoryList.jsx
  fe/src/services/inventoryService.js
Due: frontend-build, frontend-push, frontend-deploy

hotfix: pick-done place-done 구 로직 작동 블로킹
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

feat: 레디스에 저장된 맵 삭제 api 추가 @delete api/robot/mapping-data
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/robot/service/RedisService.java
Due: backend-build, backend-push, backend-deploy

update: 레디스에 저장된 맵 삭제 api 업데이트 @delete api/robot/mapping-data
  be/src/main/java/com/be/domain/robot/service/RedisService.java
Due: backend-build, backend-push, backend-deploy

RC: Realease Candidate
  exec/dump/board.sql
  exec/dump/inventory.sql
  exec/dump/inventory_history.sql
  exec/dump/robot_path.sql
  exec/dump/role.sql
  exec/dump/room.sql
  exec/dump/storage.sql
  exec/dump/user.sql
  exec/dump/user_roles.sql
  exec/scenario/Well-Done 시나리오.pdf
  exec/포팅메뉴얼.pdf
Due: none

Update fe/README.md
  fe/README.md
Due: frontend-build, frontend-push, frontend-deploy

feat: 이동 경로 누적 시각화 기능 추가
  .gitignore
  bridge/RosBridge_Modulized/__pycache__/__init__.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/flask_server.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/main.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/ros_node.cpython-37.pyc
  bridge/RosBridge_Modulized/handlers/__pycache__/__init__.cpython-37.pyc
  bridge/RosBridge_Modulized/handlers/__pycache__/command_handlers.cpython-37.pyc
  bridge/RosBridge_Modulized/handlers/__pycache__/topic_callbacks.cpython-37.pyc
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/utils/__pycache__/__init__.cpython-37.pyc
  bridge/RosBridge_Modulized/utils/__pycache__/auth.cpython-37.pyc
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/setup.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/trace_path/trace_path_node.py
Due: none

feature: Add final map
  sim/simulator/dummy.txt
  sim/simulator/map data/Extra/pallet.obstacle
  sim/simulator/map data/Extra/pallet.obstacle.manifest
  sim/simulator/map data/Extra/palletwithcookdas.obstacle
  sim/simulator/map data/Extra/palletwithcookdas.obstacle.manifest
  sim/simulator/map data/Extra/palletwithmongshell.obstacle
  sim/simulator/map data/Extra/palletwithmongshell.obstacle.manifest
  sim/simulator/map data/storage2.json
Due: none

docs: 프로젝트 최종 README 작성 및 구조 정리
  README.md
  readme_assets/Web_App_Reference_Architecture.png
  readme_assets/wellerd.png
Due: none

chore: .gitignore 수정 및 pyc 캐시 파일 제거
  bridge/RosBridge_Modulized/__pycache__/__init__.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/flask_server.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/main.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/message_types.cpython-37.pyc
  bridge/RosBridge_Modulized/__pycache__/ros_node.cpython-37.pyc
Due: none

chore: .gitignore 수정
  .gitignore
  sim/ros2_ws/.gitignore
Due: none

Path conditions:
  backend-build: any of: be/**/*, .gitlab-ci.yml
  frontend-build: any of: fe/**/*, .gitlab-ci.yml
  backend-push: any of: be/**/*, .gitlab-ci.yml
  frontend-push: any of: fe/**/*, .gitlab-ci.yml
  backend-deploy: any of: be/**/*, .gitlab-ci.yml
  frontend-deploy: any of: fe/**/*, .gitlab-ci.yml
