Repository somsomi3/Well-Done: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, backend-push, frontend-push, backend-deploy, frontend-deploy

backend-build:
  stage: build
  script:
  - docker build -t $BACKEND_IMAGE ./be
  tags:
  - ssafy-second-infra

frontend-build:
  stage: build
  script:
  - echo "VITE_BASE_URL=https://j12e102.p.ssafy.io/api" > ./fe/.env
  - docker build -t $FRONTEND_IMAGE ./fe
  tags:
  - ssafy-second-infra

backend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $BACKEND_IMAGE
  tags:
  - ssafy-second-infra

frontend-push:
  stage: push
  script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - docker push $FRONTEND_IMAGE
  tags:
  - ssafy-second-infra

backend-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  ...

frontend-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client bash
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > $PEM_FILE
  - chmod 400 $PEM_FILE
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  ...

chore: pick_place rollback
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

hotfix:git ignore
  sim/ros2_ws/.gitignore
Due: none

fix: fix inflated map and live map
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
Due: none

feature: 메인 페이지 원상 복구
  fe/src/pages/MainPage.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-660 feat: 경로 실패 대응 개선 및 로봇 정지 처리 추가
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/navigation/a_star_local_path.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
Due: none

S12P21E102-679 feat: 컴포넌트 분리
  fe/src/components/Map/MapCanvas.jsx
  fe/src/components/Map/MapControls.jsx
  fe/src/components/Map/MapInfo.jsx
  fe/src/pages/MapPage.jsx
  fe/src/utils/mapUtils.js
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-488 feat: 재고 관련 로봇 이동 기능 구현
  be/src/main/java/com/be/db/entity/Storage.java
  be/src/main/java/com/be/db/repository/StorageRepository.java
  be/src/main/java/com/be/db/service/StorageDataLoader.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-488 fix: 재고 관련 로봇 이동 기능
  be/src/main/java/com/be/db/entity/Coordinate.java
  be/src/main/java/com/be/db/service/InventoryDataLoader.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-488 fix: 재고 관련 로봇 이동 좌표 명령
  be/src/main/java/com/be/domain/storage/controller/StorageController.java
  be/src/main/java/com/be/domain/storage/service/StorageService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-488 fix: 재고 관련 로봇 이동(자동보충)
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-624 fix: 재고 관련 기능 수정
  be/src/main/java/com/be/db/entity/Inventory.java
  be/src/main/java/com/be/domain/inventory/service/InventoryService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-624 fix: 재고 관련 권한설정 수정
  be/src/main/java/com/be/config/security/JwtAuthorizationFilter.java
  be/src/main/java/com/be/domain/inventory/controller/InventoryController.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-624 fix: 재고 관련 수정
  be/src/main/java/com/be/domain/inventory/service/InventoryHistoryService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-681 feat: 로봇 페이지 디자인 수정
  fe/src/components/Robot/RobotCard.jsx
  fe/src/components/Robot/RobotDetailsModal.jsx
  fe/src/pages/RobotPage.jsx
  fe/src/styles/RobotPage.module.css
  fe/src/styles/RobotStyles.css
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-683 feat: 지역 경로 실패 시 goal_failed 퍼블리시 및 재시도 로직 반영
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/navigation/a_star_local_path.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/pick_and_place/pick_and_place_node.py
Due: none

S12P21E102-665 feat: mode_manager_node 도입 및 auto_mapping FSM 상위 제어 연동 완료
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/setup.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/mode_control/mode_manager_node.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
Due: none

feat: 수정일 표시 로직 개선, 조회수 증가 기능 제거거
  fe/src/components/board/AnnouncementDetail.jsx
  fe/src/components/board/AnnouncementForm.jsx
  fe/src/components/board/AnnouncementList.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: adjust pickdone placedone pickplacecommand and image interver(2fps -> 5fps)
  bridge/RosBridge_Modulized/handlers/command_handlers.py
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/message_types.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

feat: adjust pick done, pick place
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/robot/service/RobotService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-665 feat: Pick/Place 완료 메시지 구조 확장 및 PickDone 메시지 추가
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/CMakeLists.txt
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/PickDone.msg
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/msg/PickPlaceCommand.msg
Due: none

S12P21E102-665 feat: pick_and_place_node 정렬 FSM 및 메시지 발행 로직 통합
  sim/ros2_ws/map/map.png
  sim/ros2_ws/map/map.txt
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/path_tracking.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/controller/precise_alignment.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/pick_and_place/pick_and_place_node.py
Due: none

S12P21E102-488 fix: 재고 관련 db 수정
  be/src/main/java/com/be/db/entity/Inventory.java
  be/src/main/java/com/be/db/entity/Storage.java
  be/src/main/java/com/be/db/repository/StorageRepository.java
  be/src/main/java/com/be/db/service/InventoryDataLoader.java
  be/src/main/java/com/be/db/service/StorageDataLoader.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-488 fix: 재고 관련 음수 처리
  be/src/main/java/com/be/domain/inventory/service/InventoryService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-488 fix: 재고 데이터 (선반 누락 추가)
  be/src/main/java/com/be/db/service/InventoryDataLoader.java
Due: backend-build, backend-push, backend-deploy

fix: pick place header 들어간 문제 (뺏음)
  bridge/RosBridge_Modulized/handlers/command_handlers.py
Due: none

S12P21E102-665 feat: pick-and-place 동적 거리 계산 및 auto-mapping 정지 시 맵 발행 기능 추가
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/pick_and_place/pick_and_place_node.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/slam/auto_mapping_fsm.py
Due: none

feat: 공지사항 관련 경로 변경 및 UI 개선
  fe/src/components/Layout/Header.jsx
  fe/src/components/board/AnnouncementDetail.jsx
  fe/src/components/board/AnnouncementForm.css
  fe/src/components/board/AnnouncementForm.jsx
  fe/src/components/board/AnnouncementList.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

style: 공지사항 UI 디자인 개선
  fe/src/components/board/AnnouncementList.css
  fe/src/components/board/AnnouncementList.jsx
Due: frontend-build, frontend-push, frontend-deploy

fix: 로그인 성공후 /board로 이동하게 수정정
  fe/src/components/LoginForm.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

S12P21E102-680 fix: 로봇 이동 수정
  be/src/main/java/com/be/config/security/JwtAuthorizationFilter.java
  be/src/main/java/com/be/config/security/SecurityConfig.java
  be/src/main/java/com/be/db/repository/StorageRepository.java
  be/src/main/java/com/be/db/service/InventoryDataLoader.java
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
  be/src/main/java/com/be/domain/storage/service/StorageService.java
Due: backend-build, backend-push, backend-deploy

S12P21E102-684 fix: object_detector 실행 오류 수정 위한 setup.py 추가
  sim/ros2_ws/src/ros2_smart_home/ssafy_msgs/setup.py
  sim/ros2_ws/src/ros2_smart_home/warehouse_bot/warehouse_bot/perception/object_detector.py
Due: none

fix: pick plate 프론트에서 디그리로 받음
  be/src/main/java/com/be/domain/robot/controller/RobotController.java
Due: backend-build, backend-push, backend-deploy

fix: findbyitemname fix(주석 설명대로 작동하게)
  be/src/main/java/com/be/db/repository/InventoryRepository.java
  be/src/main/java/com/be/db/service/InventoryDataLoader.java
Due: backend-build, backend-push, backend-deploy

feat: bot pick place move page
  fe/src/pages/MapPage.jsx
  fe/src/pages/WorkPage.jsx
  fe/src/routes/AppRoutes.jsx
Due: frontend-build, frontend-push, frontend-deploy

feat: fsm status add
  bridge/RosBridge_Modulized/handlers/topic_callbacks.py
  bridge/RosBridge_Modulized/ros_node.py
Due: none

Path conditions:
  backend-build: any of: be/**/*, .gitlab-ci.yml
  frontend-build: any of: fe/**/*, .gitlab-ci.yml
  backend-push: any of: be/**/*, .gitlab-ci.yml
  frontend-push: any of: fe/**/*, .gitlab-ci.yml
  backend-deploy: any of: be/**/*, .gitlab-ci.yml
  frontend-deploy: any of: fe/**/*, .gitlab-ci.yml
